html {
    background-color:yellow;
    padding: 10px;
}

body {
    background-color: rgb(136, 255, 0);
    padding: 10px;
    margin: 0px;
}

.container {
    background-color: rgb(255, 166, 0);
    padding: 30px;
    margin: 10px;
    height: 500px;

    display: flex;
    flex-flow: row wrap;     /*flex-direction flex-wrap*/
    align-items: center;     /*cross axis*/
    justify-content: center; /*main axis*/
}

.item-1 {
    background-color: yellow;
    margin: 5px;
}

.item-2 {
    background-color: orangered;
    margin: 5px;
    width: 150px;
    font-size: 30px;

    /* order: 0   /* all has 0 default. impacted by flex-direction */
    /* align-self:  stretch; /* positioned related to cross-axis (coupled flex-direction). it also overrides align-items in flex container */
    
}

.item-3 {
    background-color: orangered;
    margin: 5px;
    height: 150px;
}

.item-4 {
    background-color: orangered;
    margin: 5px;
    height: 150px;
    width: 150px;
}

.item-5 {
    background-color: orangered;
    margin: 5px;
    width: 200px;

    flex: 1 1 auto;  /* flex-grow flex-shrink flex-basis */
}

.item-6 {
    background-color: orangered;
    margin: 5px;
    width: 200px;

    flex: 1 1 auto;  /* flex-grow flex-shrink flex-basis */
}